
.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: vanish 1ms ease-in-out both;
    animation-delay: 2s;
    position: absolute;
    .loading-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        transition: 1s;
        position: relative;
        h2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            animation-delay: 1s;
            position: absolute;
            font-family: "Kaushan Script", cursive;
            font-size: calc(3rem + 2vh);
            padding: 0 2rem;
            color: black;
            text-shadow: 0 0 4px yellow;
            span {
                @for $i from 1 through 10 {
                    &:nth-child(3n + #{$i}) {
                        letter-spacing: 2px;
                        animation: bounce 2s ease-in-out infinite;
                        animation-delay: calc($i / 10) + 0s;
                    }
                }
            }
        }

        .progress {
            // overflow: hidden;
            margin: 50px auto;
            padding: 2px;
            width: 100%;
            max-width: 500px;
            border: 3px solid gold;
            // border-radius: 5px;
            height: 30px;
            position: relative;
                top: 5rem;
            .progress-bar {
                height: 100%;
                width: 0%;
                background: repeating-linear-gradient(
                    45deg,
                    rgb(255, 215, 0, 0.8),
                    rgb(255, 215, 0, 0.6) 10px,
                    rgb(0, 0, 0) 10px,
                    rgb(0, 0, 0) 20px
                  );
                animation: fill-bar 2s infinite;
            }
            .progress-info {
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                color: #fff;
                animation: fill-bar-200 2s infinite;
                img {
                    width: 5rem;
                }
            }
        }
        
    }
}

@keyframes fill-bar {
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes fill-bar-200 {
    from {width: 0%;}
    to {width: 195%;}
}


@keyframes vanish {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-20px);
    }
    80%,
    100% {
        transform: translateY(0px);
    }
}