// 

.about-container {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease-in-out both;
    animation-delay: 2s;
    transition: 2s;
    transition-delay: 0.25s;
    letter-spacing: 2px;
    padding: 0 5rem;
    .about-bg {
        width: 100%;
        position: fixed;
        filter: brightness(0.25);
    }
    .about-content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        transition: 0.5s;
        .about-info {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            width: 100%;
            height: auto;
            .about-info-content {
                width: calc(40vw + 10rem);
                max-width: 40vw;
                text-align: center;
            }
            .about-img-portfolio {
                width: calc(25vw + 10rem);
                max-width: 25vw;
                height: auto;
                border-radius: 8px;
                .about-img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}