
.main-container {
    height: 100vh;
    width: 100vw;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .banner-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            .banner-title {
                display: inline-block;
                width: 100%;
                position: relative;
                    top: 10rem;
                .typed-out {
                    width: calc(100% + 1.25vw);
                    letter-spacing: 5px;
                    overflow: hidden;
                    white-space: nowrap;
                    font-size: calc(5rem + 12.5vw);
                    color: #000;
                    text-shadow: 0 0 5px red;
                    animation: smoothTyping 3.5s steps(100000), blink .5s step-end infinite alternate;
                }
            }
        }
        .bg-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
                top: 0;
                left: 0;
            .bg-img {
                width: 100%;
                height: auto;
                transition: 2s;
                mix-blend-mode: difference;
                animation: scaleUpDown 15s ease-in-out infinite;
            }
        }
    }
}


// Typing animation
@keyframes smoothTyping {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

// Scales the background image animation
@keyframes scaleUpDown {
    0%, 100% {
        transform: scale(1);
        filter: brightness(0.55) opacity(0.8) blur(0px);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        filter: brightness(0.65) opacity(0.8) blur(1px);
        opacity: 0.5;
    }
}
