
.contact-container {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease-in-out both;
    animation-delay: 2s;
    transition: 2s;
    letter-spacing: 2px;
    .contact-bg {
        width: 100%;
        height: auto;
        min-width: calc(112.5rem + 2vh);
        filter: brightness(0.5);
        position: fixed;
    }
    .coming-soon {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: fixed;
            top: 7.5rem;
        mix-blend-mode: overlay;
        .coming {
            font-family: "Gruppo", sans-serif;
            font-size: calc(1rem + 5vw);
            text-shadow: 0 0 5px #fff;
            color: #fff;
            &:nth-child(2) {
                color: gold;
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}