


.main-container {
    height: 100%;
    width: 100vw;
    transition: 2s;
    @include flex(column, center, center, false);
    .main-wrapper {
        @include flex(column, center, flex-start, false);
        width: 100%;
        height: 100%;
        opacity: 0;
        animation: fade-in 2s ease-in both;
        animation-delay: 2s;
        .bg-container {
            width: 100%;
            height: 100vh;
            @include flex(column, center, center, false);
            overflow: hidden;
            .bg-img {
                width: 100%;
                min-width: 2400px;
                height: auto;
                min-height: 100%;
                transition: 2s;
                mix-blend-mode: difference;
                animation: scaleUpDown 15s ease-in-out infinite;
            }
            h2 {
                max-width: 50vw;
                position: absolute;
                    top: 10rem;
                    left: 5rem;
                padding: 0 1rem;
                text-align: center;
                font-size: calc(1rem + 4vw);
                color: $tertiary;
                text-shadow: 0 0 5px white;
                span {
                    text-shadow: 0 0 5px blue;
                }
            }
        }
        .hero-container {
            @include flex(row, center, center, false);
            height: 30vh;
            width: 100%;
            background: $tertiary;
        }
    }
}

// Page fade into view
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Scales the background image animation
@keyframes scaleUpDown {
    0%, 100% {
        transform: scale(1);
        filter: brightness(0.55) opacity(0.8) blur(0px);
    }
    50% {
        transform: scale(1.05);
        filter: brightness(0.45) opacity(0.8) blur(0px);
    }
}
