

.skills-container {
    width: 100%;
    height: 50vh;
    background: #000;
    .skills-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .skill {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: calc(20rem + 10vw);
            margin: 1rem;
            &:hover {
                cursor: crosshair;
                .skill-title {
                    color: rgba(255,0,100,1);
                }
            }
            .skill-title {
                width: 100%;
                margin: 0;
                text-align: left;
                font-family: 'Gruppo', sans-serif;
                font-size: 1.5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .skill-effc {
                    color: rgba(255,0,100,1);
                }
            }
            .skill-bar {
                width: 100%;
                height: 0.5rem;
                background: #fff;
                position: relative;
                transition: 0.5s ease;
                .bar {
                    width: 0%;
                    height: 100%;
                    position: absolute;
                        top: 0;
                        left: 0;
                    background: rgba(255,0,100,1);
                }
            }
        }
    }
}

