$primary: rgb(255, 255, 255);

.socials-container {
    @include flex(row, center, center, false);
    position: absolute;
        top: calc(44% - 10rem);
        left: 1rem;
    opacity: 1;
    z-index: 99999;
    height: 345px;
    // display: none;
    .socials {
        @include flex(column, center, center, false);
        position: absolute;
            top: -1.25rem;
            left: 0;
        z-index: 999;
        animation: fade-in 1s ease, slide-right 1s ease-in-out both;
        animation-delay: 1s;
        transition: 0.5s;
        height: 0%;
        width: 5rem;
        letter-spacing: 1px;

        background: linear-gradient(
                    45deg,
                    rgba(255, 0, 0, 0.1),
                    rgba(200, 0, 255, 0.1),
                    rgba(255, 0, 0, 0.1),
        );
        
        border: none;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        border-radius: 0.2rem;
        color: $primary;
        text-shadow: 0 0 3px $tertiary;
        font-size: 1.1rem;
        transform-origin: 50% 5rem;
        p {
            text-align: center;
            @include flex(column, center, center, false);
            position: absolute;
                top: 0;
                left: 0;
            animation: wiggle 2s linear infinite;
            animation-delay: 3s;
            width: 100%;
            margin: 0.25rem 0;
            padding: 0;
            opacity: 1;
            transition: 0.5s;
            transition-delay: 0.5s;
            // font-family: "Kaushan Script", cursive;
            font-family: 'Roboto Flex', sans-serif;
            color: red;
        }
        &:hover {
            height: 100%;
            transition: 1s;
            transition-delay: 0.25s;
            .socials-icon {
                height: 100%; ///
                animation: fade-in 2s ease both;
                animation-delay: 1s;
                transition: 0.5s;
                transition-delay: 2s;
                &:hover {
                    .socials-desc {
                        opacity: 1;
                        animation: fade-in 1s ease both;
                        display: inline-block;
                        width: 7rem;
                        transition: 0.5s;
                        animation: letter-space 1s ease both;
                        animation-delay: 0.5s;
                        text-align: center;
                        background: rgba(0, 0, 0, 0.85);
                        border-radius: 8px;
                        padding: 0.25rem 0;
                        font-style: italic;
                        letter-spacing: 3px;
                        color: red;
                        text-shadow: 0 0 1px red;
                    }
                    .socials-link {
                        transition-delay: 0.5s;
                        animation: rotate 2s infinite;
                        animation-delay: 0.5s;
                        i {
                            transition: 0.35s;
                            &:hover {    
                                transform: scale(1.25);
                            }
                        }
                    }
                }
            }
            p {
                opacity: 0;
                transition: 0.25s;
            }
        }
        .socials-icon-wrapper {
            @include flex(column, center, center, false);
            transition: 1s;
            width: 100%;
            height: 100%;
            position: absolute;
                top: 0;
                left: 0;
           .socials-icon {
                margin: 1rem 0;
                z-index: 999;
                @include flex(column, center, center, false);
                width: 100%;
                overflow: hidden;
                .socials-desc {
                    // font-family: 'Kaushan Script', cursive;
                    font-family: 'Roboto Flex', sans-serif;
                    opacity: 0;
                    display: none;
                    font-size: 1rem;
                    position: absolute;
                        left: 4rem;
                }
                .socials-link {
                    @include flex(row, center, center, false);
                    color: $primary;
                    width: 100%;
                    height: 0;
                    text-decoration: none;
                    i {
                        transition: 0.35s;
                        transform: scale(1.15);
                    }
                }
           }
        }
    }

}
  
  /* Keyframes */
@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-10deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes letter-space {
    0%, 100% {
        letter-spacing: 4px;
    }
    50% {
        letter-spacing: 0px;
    }
}

@keyframes rotate {
    0%, 100% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(15deg);
    }
    66% {
        transform: rotate(-15deg);
    }
}


// For home page color
.home {
    .socials-container {
        .socials {
            border-top: 3px solid red;
            border-bottom: 3px solid red;
            color: red;
            text-shadow: none;
            background: linear-gradient(
                    45deg,
                    rgba(0, 0, 0, 1),
                    rgba(255, 0, 0, .05) 150px,
                    rgba(0, 0, 0, 1) 2px,
            );
            .socials-link {
                color: red;
                i {
                    color: red;
                }
            }
        }
    }
}